<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.kegel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>凯格尔运动App</name>
    <description>凯格尔运动App</description>
    <author email="moretime_2023@163.com">moretime</author>
    <content src="index.html" />
    <access origin="*" />
</widget>